:root {
  --color-principal: #2d3142;
  --color-fondo-principal: #d8d5db;
  --color-fondo-secundario: #adacb5;
  --color-texto: #333;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--color-texto);
  font-family: Poppins, sans-serif;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
h1,
h2,
h3 {
  margin-top: 0;
}
h1 {
  margin-bottom: 0;
}
.cabecera,
.pie {
  background-color: var(--color-principal);
  color: #fff;
  height: 100px;
  display: flex;
  align-items: center;
}
.pie {
  justify-content: center;
}
.principal {
  background-color: var(--color-fondo-principal);
}
.sidebar {
  background-color: var(--color-fondo-secundario);
}
